In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns

In [8]:
training_df = pd.read_csv("train.csv")
training_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
test_df = pd.read_csv("test.csv")
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [44]:
gender_df = pd.read_csv("gender_submission.csv")

gender_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [56]:
women = training_df.loc[training_df.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women*100)
sum(women),len(women)

% of women who survived: 74.20382165605095

(233, 314)

In [41]:
training_df.isnull().sum() , training_df.nunique()

(PassengerId      0
 Survived         0
 Pclass           0
 Name             0
 Sex              0
 Age            177
 SibSp            0
 Parch            0
 Ticket           0
 Fare             0
 Cabin          687
 Embarked         2
 dtype: int64,
 PassengerId    891
 Survived         2
 Pclass           3
 Name           891
 Sex              2
 Age             88
 SibSp            7
 Parch            7
 Ticket         681
 Fare           248
 Cabin          147
 Embarked         3
 dtype: int64)

In [21]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(training_df[features])

y = training_df["Survived"]
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [26]:
X_test = pd.get_dummies(test_df[features])
y_test = gender_df["Survived"]

In [32]:
y_pred = model.predict(X_test)

In [43]:
output = pd.DataFrame({'PassengerId': test_df.PassengerId, 'Survived': y_pred})
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [34]:
from sklearn.metrics import accuracy_score,precision_score, recall_score,f1_score

accu_score = accuracy_score(y_test,y_pred)
prec_score = precision_score(y_test,y_pred)
recall_score = recall_score(y_test,y_pred)
f1_score = f1_score(y_test,y_pred)
print(f"Accuracy score is : {accu_score*100:.2f} %")
print(f"Precision score is : {prec_score*100:.2f} %")
print(f"Recall score is : {recall_score*100:.2f} %")
print(f"f1_score is : {f1_score*100:.2f} %")

Accuracy score is : 97.13 %
Precision score is : 97.30 %
Recall score is : 94.74 %
f1_score is : 96.00 %

In [35]:
output.to_csv('submission.csv', index=False)

In [36]:
print("Your submission was successfully saved!")

Your submission was successfully saved!